.hero {
  background-image: repeating-linear-gradient(-45deg, #5555, #5555 1px, transparent 1px, transparent 6px);
  background-size: 4px 4px;
  background-color: #9119f610;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.footer {
    display: block;
    unicode-bidi: isolate;
}

html {
	/* force the scroll bar to show so that
	 * content doesn't shift between pages */
	overflow-y: scroll;
}