<main class="main-container">
  <div class="sidebar-container">
    <div class="sidebar">
      <div class="sidebar-content" *ngIf="isLoggedIn && !!user">
        <button class="sidebar-button" *ngIf="user.super_admin" routerLink="/console">
          Super admin stuff
        </button>
        
        <button class="sidebar-button" *ngIf="user.admin" (click)="dashboardCollapse()">
          {{ isDashboardCollapsed ? '▶' : '▼' }} Dashboards
        </button>
        
        <div class="sub-buttons" *ngIf="!isDashboardCollapsed">
          <button 
            class="sidebar-button sub-button" 
            *ngFor="let name of dashboardNames"
            [routerLink]="['/dashboard']" 
            [queryParams]="{study: name}"
          >
            {{ name }}
          </button>
        </div>
      </div>
      <a
        href="https://github.com/login/oauth/authorize?client_id=Ov23liM8jdVptvkhxswe&redirect_uri=http://localhost:4200/builder/auth&scope=repo"
        class="p-button p-button-raised p-button-secondary"
      >
        Sign in with GitHub
      </a>

      <button class="sidebar-button logout-button" (click)="logout()" *ngIf="isLoggedIn">
        Logout
      </button>
    </div>
  </div>

  <div class="content-area">
    <div class="hero r-6" *ngIf="!isLoggedIn">
      <div class="sign-in">
        <div class="row align-items-center ">
          <div class="col-md-6">
            <h2>Welcome to Digital Trails Portal</h2>
            <div class="text-body-secondary">
              Access your research dashboard, manage projects, and collaborate with team members.
              Sign in to view your personalized workspace and continue your research journey.
            </div>
            <a routerLink="/dashboard" class="btn btn-primary btn-lg mt-3">Sign In</a>
          </div>
  
          <div class="col-md-6 text-center d-none d-md-block">
            <img src="logo.svg" alt="Digital Trails Logo" height="300">
          </div>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</main>