<div *ngIf="pageData$ | async as data">
  <!-- Tabs -->
  <div class="tabs">
    <button *ngIf="data.adminStudy?.iframeUrl" (click)="activeTab = 'dashboard'" [class.active]="activeTab === 'dashboard'">Dashboard</button>
    <button (click)="activeTab = 'users'" [class.active]="activeTab === 'users'">Users</button>
  </div>

  <div class="tab-content">
    <div *ngIf="activeTab === 'dashboard'" class="dashboard-section">
      <div class="iframe-container">
        <iframe [src]="data.adminStudy?.iframeUrl" class="responsive-iframe" allowtransparency="true"></iframe>
      </div>
    </div>

    <div *ngIf="activeTab === 'users'" class="users-section">
      <div *ngIf="data.studyUsers?.length; else noUsers" class="user-list">
        <div *ngFor="let user of data.studyUsers" class="user-card" (click)="selectUser(user.id)">
          <h5>{{ simpleId(user.id) }}</h5>
          <div *ngIf="user?.user?.studies?.[studyCode] as study">
            <p><strong>Status:</strong> {{ study.state }}</p>
            <p><strong>Last Update:</strong> {{ study.lastUpdate | date: 'medium' }}</p>
          </div>
        </div>

        <div class="user-card all-users" (click)="selectUser('all participants')">
          <h5>All Participants</h5>
        </div>
      </div>

      <div *ngIf="selectedUserId" class="user-details">
        <h3>
          Send a message to {{ simpleId(selectedUserId) }}
        </h3>
        <textarea #messageInput placeholder="Type your message..."></textarea>
        <button (click)="sendMessage(messageInput.value)">Send</button>

        <div *ngIf="selectedUserId != 'all participants' && data.ouraTokenNames" class="token-section">
          <h4>Oura PAT</h4>
          <p>
            <span *ngIf="hasOuraToken(data.ouraTokenNames); else noToken" class="d-flex align-items-center gap-2">
              <em class="mb-0">Token assigned</em>
              <!-- <button type="button" class="revoke-button btn btn-danger btn-sm" (click)="onDelete()">Revoke</button> -->
              <!-- uncomment after creating a new vault, current key vaul has purge protection enabled so can't delete secrets -->
            </span>
            <ng-template #noToken><em> No token assigned</em></ng-template>
          </p>
          <input type="text" #tokenInput placeholder="Enter new token..." />
          <button (click)="assignToken(tokenInput.value)">Assign Token</button>
        </div>
        <p class="confirmation">{{ messageText }}</p>
      </div>
    </div>

    <ng-template #noUsers><em> No Users</em></ng-template>

  </div>
</div>