.iframe-wrapper {
  padding: 20px;
  height: 100vh;
  box-sizing: border-box;
}

.iframe-container {
  height: 100%;
  width: 100%;
}

.streamlit-iframe {
  width: 100%;
  height: 100%;
  border: none;
}